.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}


.login__form label, input, button {
   
    height: 30px;
    margin: 5px;
    font-size: 18px;
    color: white;
}

.login__form h1 {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.login__form button {
    margin-top: 15px;
    color: black;
}

.login__form button:hover{
    margin-top: 15px;
    color: white;
    background-color: rgb(187, 27, 27); 
}